* {
  font-size: 1.4rem;
  /* font-family: Arial; */
 }

.delete-button{
  float: right !important;
}

.complete-check{
  float: left !important;
}

input[type="checkbox"] {
  transform:scale(2, 2);
}